@model LiveHolidayapp.Models.M_Login
@{
    ViewData["Title"] = "Login";
}

<!-- Login Area Start -->
<section class="get_contact_area">
    <div class="container">
        <div class="row get_contact_inner align-items-center">
            <div class="col-md-6">
                <div class="left_ex_title">
                    <h2> Login <span> account </span></h2>
                </div>
                <form class="contact_us_form row m0" asp-controller="Account" asp-action="Login" method="post" id="contactForm" novalidate>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-12">
                        <input asp-for="Username" class="form-control" id="name" placeholder="Enter User Name ">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <input asp-for="Password" class="form-control" id="password"  placeholder="Entere Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <a href="javascript:void(0)"><button type="submit" value="submit" class="btn submit_btn form-control"> login account </button></a>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="right_contact_info">
                    <img src="~/img/login_img.png" class="img-responsive" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Area End -->
