@{
    ViewData["Title"] = "Destination-list";
}

<!-- Breadcrumb Banner Start -->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Destination List</h3>
            <ul>
                <li class="active"><a href="~/Home/index">Home</a></li>
                <li><a href="javascriptvoid(0);">Destination List</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Banner End -->
<!-- Destination List Start -->
<div class="explor_room_area pt-10 ppt-20">
    <div class="container">

        <div class="row align-item-center mb-2 mmb-2">
            <div class="col-lg-12 col-sm-12 col-xs-12 ">
                <ul class="nav nav-tabs tab-buttons" role="tablist" id="myTab">
                    <li>
                        <a class="btn book_now_btn filter-mobile-button" href="#international_list" role="tab" data-toggle="tab">international</a>
                    </li>
                    <li class="active">
                        <a class="btn book_now_btn filter-mobile-button" href="#domestic_list" role="tab" data-toggle="tab">Domestic</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane" id="international_list">
                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>United Arab Emirates</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/dubai.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">dubai</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/abu-dhabi.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Abu dhabi </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/sharjah.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name"> Sharjah</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Thailand</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/bangkok.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bangkok </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/pattaya.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">pattaya </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/phuket.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">phuket </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/krabi.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">krabi </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/chiang-mai.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Changmoi </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Indonesia</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/bali.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Bali </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/jakarta.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">jakarta </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/ubud.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Ubud </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/lombok-lsland.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Lombok Island </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/kuta.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Kuta </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Malaysia</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/kuala-lumpur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Kuala Lumpur </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/batu-caves.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Batu Caves </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/george-town.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">George Town </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/putrajaya.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Putrajaya </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Nepal</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/kathmandu.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">kathmandu </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/pokhara.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">pokhara </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/nagarkot.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">nagarkot </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/bhaktapur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bhaktapur </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/namche.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">namche </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Singapore</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/singapore.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">singapore </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1 mmt-2 mb-2 bg-white p-2 pt-10">
                    <div class="col-lg-12 mb-2">
                        <div class="title mb-2 pt-2">
                            <h4 class="text-uppercase text-black"><b>Sri Lanka</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/colombo.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">colombo </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/kandy.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">kandy </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/international/galle.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">galle </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane active" id="domestic_list">
                <div class="row mt-1 mmt-2 bg-white p-2 pt-2">
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/agra.png" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Agra</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/alibag.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">alibag</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/almora.png" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">Almora</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/amritsar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">amritsar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/bhimtal.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bhimtal</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/bikaner.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bikaner</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/binsar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">binsar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/bodhgaya.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bodhgaya</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/bundi.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">bundi</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/chail.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">chail</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/chamba.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">chamba</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/corbett_nationalpark.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">corbett nationalpark</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/dalhousie.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">dalhousie</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/darjeeling.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">darjeeling</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/dharamsala.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">dharamsala</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/digha.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">digha</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/gangtok.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">gangtok</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/goa.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">goa</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/haridwar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">haridwar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/jaipur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">jaipur</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/jaisalmer.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">jaisalmer</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/jodhpur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">jodhpur</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/kanyakumari.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">kanyakumari</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/katra.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">katra</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/khajjiar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">khajjiar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/khajuraho.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">khajuraho</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/kodaikanal.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">kodaikanal</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/kovalam.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">kovalam</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/leh.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">leh</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/lonavala.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">lonavala</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/madurai.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">madurai</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mahabaleshwar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mahabaleshwar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mahabalipuram.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mahabalipuram</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/manali.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">manali</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mandarmoni.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mandarmoni</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/matheran.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">matheran</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mount_abu.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mount abu</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mukteshwar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mukteshwar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/munnar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">munnar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mussoorie.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mussoorie</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/mysore.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">mysore</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/nainital.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">nainital</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/ooty.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">ooty</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/palampur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">palampur</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/panikhet.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">panikhet</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/patnitop.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">patnitop</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/pondicherry.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">pondicherry</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/puri.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">puri</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/pushkar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">pushkar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/ranikhet.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">ranikhet</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/ranthambore_national_park.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">ranthambore national park</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/rishikesh.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">rishikesh</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/shillong.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">shillong</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/shimla.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">shimla</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/shirdi.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">shirdi</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/srinagar.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">srinagar</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/sunderban.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">sunderban</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/tirupati.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">tirupati</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/udaipur.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">udaipur</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/ujjain.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">ujjain</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-6 gapping">
                        <div class="room_details_content bg-white p-2 rounded-1 border-gray">
                            <div class="room_image">
                                <a href="javascript:void(0);">
                                    <img src="~/img/destinations/domestics/visakhapatnam.jpg" alt="" class="img-responsive w-100">
                                </a>
                            </div>
                            <div class="explor_text text-center mt-1 mmt-2 ellips-1">
                                <a href="javascript:void(0);">
                                    <h3 class="room_d_title destination-name">visakhapatnam</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Destination List End -->