@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- Breadcrumb Banner Start -->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Privacy Policy</h3>
            <ul>
                <li class="active"><a href="~/Home/index">Home</a></li>
                <li><a href="~/Home/Privacy">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Banner End -->
<!-- Room List Start -->
<section class="room_list_area pt-10 ppt-20">
    <div class="container bg-white p-3">
        <div class="room_list_inner">
            <div class="row mr-0">
                <div class="col-md-12">
                    <div class="conditons-title">
                        <h1>Privacy policy</h1>
                    </div>
                    <div class="conditons">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room List End -->
