@{
    ViewData["Title"] = "Terms and Conditions";
}
<!-- Breadcrumb Banner Start -->
<section class="banner_area">
    <div class="container">
        <div class="banner_inner_content">
            <h3>Terms &amp; Conditions</h3>
            <ul>
                <li class="active"><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/Termscondition">Terms &amp; Conditions</a></li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Banner End -->
<!-- Room List Start -->
<section class="room_list_area pt-10 ppt-20">
    <div class="container bg-white p-3">
        <div class="room_list_inner">
            <div class="row mr-0">
                <div class="col-md-12">
                    <div class="conditons-title">
                        <h1>Terms &amp; Conditions</h1>
                    </div>
                    <div class="conditons">
                        <ul>
                            <li>biztadka entitles the customer for Two night’s hotel accommodation for two adults and two children under the age of 5 years sharing the same room without extra bed.</li>

                            <li>This scheme is valid only for the customers of “biztadka."</li>

                            <li>This offer does not include the following: Courier cost, Travel, Transportation, Incidentals, Applicable Taxes (On other charges excluding of package), Additional Accommodation and other facilities offered by the hotels that may be availed by customers during their stay.</li>

                            <li>To Redeem, the eligible customer would be required to attach the following documents during the redemption process.</li>

                            <li>A minimum of 21 days notice before the first preferred date of travel is required, from the date of receipt of the booking request by “Redemption cell”.</li>

                            <li>Request to avail the holiday must reach us on or before and hotel stay must be availed on or before .</li>

                            <li>
                                The “Claim / Booking Request form” cannot be sold, redeemed for cash, gifted or transferred. There is no cash alternative for this offer. All reservations are strictly subject to promotional availability. Request for reservations in exclusion period as mentioned below will not be entertaindi.
                                <ul>
                                    <ol> Hill Stations and Pilgrims – 1st May to 30th June and 20th Dec to 5th Jan</ol>
                                    <ol> Deserts, Beaches, National Parks and International Destinations – 1st Dec to 20th Jan.</ol>
                                    <ol> Also right to avail the hotel booking for all destinations will be restricted for 2 days prior & 2 days afterwards of all long weekends, National Holidays and festivals. For eg.- Diwali, Dussehra, Holi, 2nd october, 15th August, 26th January etc.</ol>
                                </ul>
                                </ii>

                            <li>In the booking request form the eligible customer must state 1 destination and 1 date. "DTIL" will use reasonable endeavors to book you in any available combination and/or sequence (L1-D1) from your chosen dates and/or destinations. Booking Request forms not meeting these criteria are liable to be rejected and cannot be re-processed. In the unlikely event of none of the combination/sequence being available biztadka. shall offer alternate destination or date at their absolute discretion which may be before or after the preferred dates opted by the customer. Such an alternative offer shall fulfill all promotional obligations to the customer.</li>

                            <li>If your booking is within the period of 20 to 30 days then your booking will be confirmed within 7 days of receipt of your voucher & you will be intimated about the destination booked & if the booking is for later period then you will receive the confirmation 7 days prior to the check inn date via sms& e-mail both and you will be provided the hotel name 3 days prior to the check inn date.</li>

                            <li>In the event of non availability of room at the listed hotel, accommodation shall be provided in hotel of similar standard.</li>

                            <li>An incomplete 'Reservation Form' received without required supporting documents or Reservation Form received by e-mail, fax or phone shall be liable to rejection and cannot be re-processed.</li>

                            <li>"DTIL" reserves the right to refuse to redeem the Booking Request Form if submitted by persons other than the customer of biztadka. All Booking Request Forms shall be treated and processed as individual requests. Booking Request Form cannot be used/ clubbed together in any manner.</li>

                            <li>No cancellation or amendment is possible after confirmation of booking. In the event of customer not availing the accommodation against the confirmed booking no replacement or alternate reservation shall be offered.</li>

                            <li>The use of the confirmation letter is subject to the rules and regulations of the hotel(s) to maintain decorum. The use of the confirmation letter by the customer shall be deemed as an acceptance to the rules and regulations of the hotel(s).</li>

                            <li>“biztadka.” reserves the right to extend, cancel, discontinue, prematurely withdraw, change, alter or modify this offer or any part there of including but not limited to the eligibility criteria or Hotel list and destinations at its sole discretion anytime during its validity as may be required and the same shall be binding on the customer.</li>

                            <li>Any disputes, controversies and conflicts (“Disputes”) arising out of this offer shall be referred to a sole arbitrator to be appointed by “biztadka.” and “DTIL.” The Courts at Bhilwara shall have the exclusive jurisdiction in respect to all the subject matter with relation to this offer.</li>

                            <li>The provision of the holiday package is subject to Force Majeure conditions.</li>

                            <li>DTIL is solely responsible for scheme coordination according to the terms and conditions mentioned above. For all other transactions, dealing with biztadka., please contact</li>

                            <p>For most recent updates and full set of terms and conditions, please contact “Customer Services” by calling on customer care no., between 10.30 am- 5.30 pm, Monday to Friday.</p>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Room List End -->